<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="assets/style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <title>Vue Boolzapp</title>
    </head>
    <body>

        <div class="container-fluid">
            <h1 class="text-center text-capitalize">vue boolzapp</h1>
            <div id="root">
                <div class="container">
                    <div class="contact_section">
                        <div class="contact_header">
                            <div class="contact_header_avi">
                                <img v-bind:src="profilo.avatar" alt="avatar 1">
                                <p class="text-capitalize"
                                > {{profilo.name}} </p>
                            </div>
                            <div class="contact_header_icons">
                                <i class="fas fa-address-card"></i>
                                <i class="fas fa-comment-alt"></i>
                                <i class="fas fa-ellipsis-v"></i>
                            </div>
                        </div>
                        <div class="contact_alert">
                            <div class="contact_alert_fas">
                                <i class="fas fa-bell-slash"></i>
                            </div>
                        <div class="contact_alert_text">
                            <p class="text-left">Ricevi notifiche di nuovi messaggi</p>
                            <a class="text-left" href="#">Attiva notifiche desktop</a>
                        </div>
                        </div>
                        <div class="contact_search">
                            <button type="button" class="search-button">
                                <i class="fas fa-search"></i>
                            </button>
                            <input type="text" placeholder="Cerca o inizia una nuova chat">
                        </div>
                        <div class="contact_list">
                            <div v-on:click="contactChange(index)" class="contact_list_style" v-for="item, index in contacts">
                                <img v-bind:src="item.avatar">
                                <div class="text-center">
                                    <p> {{item.name}} </p>
                                </div>
                            </div>
                    </div>

                    </div>
                    <div class="messages_section">
                        <div class="messages_header">
                            <div class="messages_header_avi">
                                <img :src="contacts[contactsIndex].avatar" alt="avatar 1">
                                <p class="text-capitalize"
                                >{{contacts[contactsIndex].name}}</p>
                            </div>
                            <div class="messages_header_icons">
                                <i class="fas fa-search"></i>
                                <i class="fas fa-paperclip"></i>
                                <i class="fas fa-ellipsis-v"></i>
                            </div>
                        </div>
                        <div class="messages_body">
                            <div v-for="(item, index) in contacts[contactsIndex].messages" class="message" v-bind:class="item.status">
                                <span>{{item.message}}</span>                 
                            </div>

                        </div>
                        <div class="messages_footer">
                            <i class="far fa-smile"></i>
                            <input type="text" placeholder="Scrivi un messaggio" v-model="inpuText" v-on:keyup.enter='enterKey'>
                            <i class="fas fa-microphone"></i>
                        </div>

                    </div>

                </div>


            </div>

            <script src="assets/main.js" charset="utf-8"></script>

        </div>

    </body>
</html>
