* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('https://play-lh.googleusercontent.com/SZ97RCEv5EVH6iMCDIdHeGJM_BNyHYcnRQ4EdK4V_VyVxLlQS8GY1U3xB8atEBH55OM');
    background-size: cover;

}

.container {
    display: flex;
    background-color: red;
}

h1 {
    margin-top: 10px;
    color: #FFF;
}
